.containerModal{
	position: absolute;
	bottom: 18px;
	background-color: #fff;
	padding: 20px;
	border-radius: 4px;
	width: 700px;
	display: flex;
	flex-direction: column;
	animation: slideY 1.5s;
}
.headerModal{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.headerModal button{
	border:  0;
	background: transparent;
}
.containerModal span{
	margin: 14px 0;
	color: #a7a7a7;
}
.linkModal{
	display: flex;
	align-items: center;
	background-color: green;
	justify-content: space-between;
	padding: 0 14px;
	color: #fff;
	height: 38px;
	border: 0;
	border-radius: 4px;
}

/* Animação modal */

@keyframes slideY{
	from{
		transform: translateY(100px);
	}to{
		transform: translateY(0);
	}
}

@media (max-width:  740px){
	.containerModal{
		width: 90%;
	}
}
